<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988090546819-hlm0drugv0j61bi73oee740jpaorjsgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988090546819-hlm0drugv0j61bi73oee740jpaorjsgg</string>
	<key>API_KEY</key>
	<string>AIzaSyC7Hwdwqg0vc4ULrehnBJpQ2T-Si5QNRvg</string>
	<key>GCM_SENDER_ID</key>
	<string>988090546819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.Javorski.Vagas</string>
	<key>PROJECT_ID</key>
	<string>vagasmaes</string>
	<key>STORAGE_BUCKET</key>
	<string>vagasmaes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988090546819:ios:127c6a869553c9dc9bf9b6</string>
	<key>DATABASE_URL</key>
	<string>https://vagasmaes-default-rtdb.firebaseio.com</string>
</dict>
</plist>